{% extends 'layout/layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css" />
{% endblock%}

{% block body %}
    <div style="max-width:100%; margin-top:6%; margin-left: 2%; margin-right: 2%; ">
        <center>
			<div style="margin-top:10%; max-width:100%; width:100%;">
				<h1 class="h4 mb-4 font-weight-normal"><img src="/static/open-iconic/svg/people.svg" width=5% style="margin-right : 1%;"/>Registered members</h1>
				<hr>
				<table class="table table-sm">
					<thead>
						<th style="text-align:center; color:#FFF" class="bg-primary">Sl. No.</th>
						<th style="text-align:center; color:#FFF" class="bg-primary">Name</th>
						<th style="text-align:center; color:#FFF" class="bg-primary">Gender</th>
						<th style="text-align:center; color:#FFF" class="bg-primary">Date of Birth</th>
						<th style="text-align:center; color:#FFF" class="bg-primary">Mobile No.</th>
						<th style="text-align:center; color:#FFF" class="bg-primary">User Name</th>
					</thead>
					<tbody>
						{% for u in users: %}
						<tr>
							<td style="text-align:center;">{{ loop.index }}</td>
							<td style="text-align:center;">{{ u["f_name"] + " " + u["l_name"]}}</td>
							<td style="text-align:center;">{{ u["gender"] }}</td>
							<td style="text-align:center;">{{ u["dob"] }}</td>
							<td style="text-align:center;">{{ u["mobile"] }}</td>
							<td style="text-align:center;">{{ u["user_name"] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
        </center>
    </div>
{% endblock %}
