{% extends 'layout/layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css" />
{% endblock%}

{% block body %}
	<form class="form-signin" method="POST" style="margin-top:2%;">
		<center>
		<h1 class="h4 mb-3 font-weight-normal"><img src="/static/open-iconic/svg/shield.svg" width=10% style="margin-right : 2%;"/>Change Password</h1>
		<hr>
		{% if f == 1 %}
			<div class="alert alert-success" role="alert">
				Password change successfully!
			</div>
		{% endif %}
		<input type="password" id="inputPassword" name="inputPassword" class="form-control mb-1" placeholder="Password" required />
		<input type="password" id="inputConfPassword" name="inputConfPassword" class="form-control mb-3" placeholder="Confirm Password" required />
		<button class="btn btn-lg btn-success btn-block" type="submit">Change Password</button>
		</center>
	</form>
    <script src="/static/js/password_validation.js"></script>
{% endblock %}
